* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5rem;
  background-color: #3366cc;
  color: white;
}

#root {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 7px solid #083359;
  border-radius: 50%;
}
